body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.header{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
    width: 100%;
}

.header-heading{
    font-size: 42px;
    font-weight: 700;
}
.heading-one{
    padding-top: 0px;
    margin-top: 0;
}

.heading-two{
    padding-top: 0px;
    margin-top: 0;
}

.header-paragraph{
    font-size: 18px;
}

.header-banner{
    color: #fff;
    text-align: center;
    padding: 120px 300px;
}

.header-btn{
    text-decoration: none;
    color: #fff;
    border: 3px solid #FF5959;
    background-color: #FF5959;
    border-radius: 5px;
    padding: 6px 10px;
}

.middle{
    /* height: 100vh; */
    width: 100%;
}

.middle-div{
    text-align: center;
    padding: 80px 300px;
}

.middle-header{
    font-size: 28px;
}

.middle-amount-tab{
    padding: 30px;
}


.middle-amount-tab-box{
    font-family: roboto;
    text-decoration: none;
    color: grey;
    font-size: 22px;
    font-weight: 500;
    padding: 25px 15px;
}

.box-border{
    border: 2px solid  #ff5959c5;
    background-color: #ff595923;
    border-radius: 3px;
}

.middle-form-input{
    border: none;
    text-align: center;
    /* padding: 30px; */
    /* border-bottom: 2px solid grey; */
}

.donate-plan{
    padding: 70px 150px;
}
.donate-plan-text{
    text-align: center;
    padding: 0 200px;
}

.donate-card{
    display: flex;
    padding: 20px 0;
    
    /* background-color:#FF5959; */
}

.donate-card-1{
    background-color: #EDF5F6;
}

.donate-card-2{
    background-color: #FFEEEE;
}

.donate-card-3{
    background-color: #FFF4D6;
}

.card{
    padding: 30px;
    margin-right: 20px;
    border-radius: 5px;
}

.update{
    padding: 120px 250px;
}

.update-div{
    /* width: 100%; */
    /* padding: 150px; */
}

.update-text{
    padding-bottom: 20px;
}

.update-bg{
    background-color:#FFF4D6;
    text-align: center;
    padding:60px;
}

.update-email{
    border: none;
    background-color: #D9D9D9;
    border-radius: 5px 0 0 5px;
    color: #AA9F9F;
    padding: 10px;
    margin-right: 0;
}

.update-btn{
    padding: 10px 30px;
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: #FF5959;
    color: white;
    margin-left: -5px;
    
}

.footer-footer{
    background-color: black;
    height: 20vh;
}

.footer-container{
    color: white;
    text-align: center;
}

.footer-header{
    font-family: pacifico;
    font-size: 16px;
    color:#FF5959;
    padding-top: 20px;
}

.footer-para{
    font-size: 10px;
}